.btn_setting{
    margin-right: 10px;
}

span{
    padding: 10px 20px; 
    margin: 10px;
    /* background-color: red; */
    font-size: 14px;
}

span:hover{
    cursor: pointer;
}

.active{
    border: 1px solid black;
}